pipeline/PL_3.json
{
	"name": "PL_3",
	"properties": {
		"activities": [
			{
				"name": "Web_reader",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@{pipeline().parameters.para_url}test?api-version=7.0",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_reader",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_value",
					"value": {
						"value": "int(963258)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"url": {
						"value": "@{pipeline().parameters.para_url}test?api-version=7.0",
						"type": "Expression"
					},
					"body": {
						"value": "{\"value\" : \"@{variables('var_value')}\"}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"para_url": {
				"type": "string",
				"defaultValue": "https://kvjuly20.vault.azure.net/secrets/"
			}
		},
		"variables": {
			"testing": {
				"type": "String"
			},
			"var_value": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-03T05:46:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}