pipeline/PL_COPY_ZOHO_APIDATA.json
{
	"name": "PL_COPY_ZOHO_APIDATA",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_WEB_RETRIVE_ACESSTOKEN",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@{pipeline().parameters.para_kvurl}accesstoken?api-version=7.0",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_GEN_WEB_RETRIVE_ACESSTOKEN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "acc_token",
					"value": {
						"value": "@activity('ACT_GEN_WEB_RETRIVE_ACESSTOKEN').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"para_kvurl": {
				"type": "string",
				"defaultValue": "https://kvtestinh14.vault.azure.net/secrets/"
			}
		},
		"variables": {
			"acc_token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "zoho"
		},
		"annotations": []
	}
}