pipeline/PL_COPY_ZOHO_APIDATA.json
{
	"name": "PL_COPY_ZOHO_APIDATA",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_WEB_RETRIVE_ACESSTOKEN",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@{pipeline().parameters.para_kvurl}accesstoken?api-version=7.0",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_GEN_WEB_RETRIVE_ACESSTOKEN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "acc_token",
					"value": {
						"value": "@activity('ACT_GEN_WEB_RETRIVE_ACESSTOKEN').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Zoho-oauthtoken ',variables('acc_token'))",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_ZOHO_RESTAPI",
						"type": "DatasetReference",
						"parameters": {
							"relative_url": {
								"value": "forms/employee/getRecords",
								"type": "Expression"
							},
							"base_url": {
								"value": "https://people.zoho.in/people/api/",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Json4_zoho",
						"type": "DatasetReference",
						"parameters": {
							"para_filename": "data_aug24.json"
						}
					}
				]
			}
		],
		"parameters": {
			"para_kvurl": {
				"type": "string",
				"defaultValue": "https://kvtestinh14.vault.azure.net/secrets/"
			}
		},
		"variables": {
			"acc_token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "zoho"
		},
		"annotations": []
	}
}