pipeline/PL_GETACCESSTOKEN.json
{
	"name": "PL_GETACCESSTOKEN",
	"properties": {
		"activities": [
			{
				"name": "ACT_WEB_CLIENT_ID",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@{pipeline().parameters.para_kvurl}clientid?api-version=7.0",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ACT_SET_CLIENTID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_WEB_CLIENT_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CLIENTID",
					"value": {
						"value": "@activity('ACT_WEB_CLIENT_ID').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_WEB_CLIENT_SECRET",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@{pipeline().parameters.para_kvurl}clientsecret?api-version=7.0",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ACT_SET_CLIENTID_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_WEB_CLIENT_SECRET",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "clientsecret",
					"value": {
						"value": "@activity('ACT_WEB_CLIENT_SECRET').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_GEN_LKP_CODE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "zoho_code",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_GEN_LKP_CODE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "code",
					"value": {
						"value": "@activity('ACT_GEN_LKP_CODE').output.firstRow.code_outh",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_GEN_WEB_GETACCESSTOKEN",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ACT_SET_CLIENTID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ACT_SET_CLIENTID_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://accounts.zoho.in/oauth/v2/token?",
					"body": {
						"value": "@concat('client_id=',variables('CLIENTID'), '&client_secret=',variables('clientsecret'), '&grant_type=authorization_code' , '&code=', variables('code'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_GEN_SETACCESSTOKEN",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_GEN_WEB_GETACCESSTOKEN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "accesstoken",
					"value": {
						"value": "@activity('ACT_GEN_WEB_GETACCESSTOKEN').output.access_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_GEN_SETREFRESHTOKEN",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ACT_GEN_WEB_GETACCESSTOKEN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "refreshtoken",
					"value": {
						"value": "@activity('ACT_GEN_WEB_GETACCESSTOKEN').output.refresh_token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ACT_GEN_WEB_UPDATEACCESSTOKEN",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SETACCESSTOKEN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"url": {
						"value": "@{pipeline().parameters.para_kvurl}accesstoken?api-version=7.0",
						"type": "Expression"
					},
					"body": {
						"value": "{\"value\" : \"@{variables('accesstoken')}\"}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ACT_GEN_WEB_UPDATEACCESSTOKEN_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ACT_GEN_SETREFRESHTOKEN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"url": {
						"value": "@{pipeline().parameters.para_kvurl}refreshtoken?api-version=7.0",
						"type": "Expression"
					},
					"body": {
						"value": "{\"value\" : \"@{variables('refreshtoken')}\"}",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"para_kvurl": {
				"type": "string",
				"defaultValue": "https://kvtestinh14.vault.azure.net/secrets/"
			}
		},
		"variables": {
			"CLIENTID": {
				"type": "String"
			},
			"clientsecret": {
				"type": "String"
			},
			"code": {
				"type": "String"
			},
			"accesstoken": {
				"type": "String"
			},
			"refreshtoken": {
				"type": "String"
			}
		},
		"folder": {
			"name": "zoho"
		},
		"annotations": []
	}
}