pipeline/PL_GETMETA.json
{
	"name": "PL_GETMETA",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_GETMETA",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_GETMETA",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeEnd": {
							"value": "@addDays(utcNow(), -6 )",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "ACT_GEN_GETMETA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GEN_GETMETA').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, 'C')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"testing": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-01T05:21:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}