pipeline/PL_HISTORICAL.json
{
	"name": "PL_HISTORICAL",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_HISTORICALCONFIG",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dev].[SprocHistoricalLoad]",
									"storedProcedureParameters": {
										"colName": {
											"type": "String",
											"value": {
												"value": "@item().SourceColumnName",
												"type": "Expression"
											}
										},
										"endDate": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.para_endtime",
												"type": "Expression"
											}
										},
										"startDate": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.para_starttime",
												"type": "Expression"
											}
										},
										"tableName": {
											"type": "String",
											"value": {
												"value": "@item().SourceTableName",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_HISTORICALCONFIG",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_SQL_SINK_SALES",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().TargetTableName",
											"type": "Expression"
										},
										"schema": {
											"value": "@item().TargetSchema",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"para_starttime": {
				"type": "string"
			},
			"para_endtime": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Historical_Loading"
		},
		"annotations": [],
		"lastPublishTime": "2024-08-04T05:11:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}