pipeline/PL_ROWSREADCOPIEDVALIDATION.json
{
	"name": "PL_ROWSREADCOPIEDVALIDATION",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_LKP_PLCOPYLOGS",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "\nselect * from dev.pl_copydatalogs;\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ACT_ITCR_FOR_LKPOUTPUTS",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ACT_GEN_LKP_PLCOPYLOGS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ACT_GEN_LKP_PLCOPYLOGS').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ACT_ITCR_IF_CONDITIONCHECK",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().rowsRead, item().rowsCopied)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Fail1",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": "404",
											"errorCode": "Failed"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "ACT_GEN_SET_VALIDATE",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "Var_passed",
											"value": {
												"value": "Validation successfull",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "test",
								"value": {
									"value": "@item().sheetname",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Var_passed": {
				"type": "String"
			},
			"test": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-04T03:15:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}