pipeline/PL_sET.json
{
	"name": "PL_sET",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": "25"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "setvar2",
						"value": "testing "
					}
				],
				"typeProperties": {
					"variableName": "b",
					"value": 20
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "c",
					"value": 25
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "pipe_return",
							"value": {
								"type": "Expression",
								"content": "@add(variables('c'),variables('b') )"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"var1": {
				"type": "String"
			},
			"result": {
				"type": "Integer",
				"defaultValue": 5
			},
			"b": {
				"type": "Integer"
			},
			"c": {
				"type": "Integer"
			},
			"output2": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-25T05:46:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}