pipeline/PL_VALIDATE_FILES.json
{
	"name": "PL_VALIDATE_FILES",
	"properties": {
		"activities": [
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_VALIDATE",
						"type": "DatasetReference",
						"parameters": {
							"PARA_FILENAME": "2-WheelSales.csv"
						}
					},
					"timeout": "0.00:01:00",
					"sleep": 10
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Validation1').output.exists, false)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "description",
								"value": "filenot found "
							}
						}
					]
				}
			}
		],
		"variables": {
			"description": {
				"type": "String"
			},
			"default": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-30T04:39:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}